.logBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logBlock {
    backdrop-filter: blur(35px) brightness(100%);
    background-color: #ffffff8f;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.10000000149011612)) 1;
    border-radius: 20px;
    height: calc(100% - 40px);
    max-height: 723px;
    width: 504px;
    display: flex;
    justify-content: center;
}

.logBlockContent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.logTitle {
    font-family: 'SF Pro Display Bold';
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

.logInputStyle {
    width: 80%;
    height: 3%;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    font-family: 'SF Pro Display Regular';
    font-size: 20px;
    &::placeholder {
        font-family: 'SF Pro Display Regular';
        font-size: 20px;
        color: inherit;
        opacity: 60%;
    }
}

.logButton {
    width: 250px;
    height: 40px;
    background-color: #4A8FE7;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: 'SF Pro Display Regular';
    font-size: 20px;
    backdrop-filter: blur(9px);
    &.load {
        background-color: #7aa2dc;
     }
}

@media screen and (max-width: 550px){
    .logBlock {
        width: 80vw;
    }

    .logTitle {
        font-size: 40px;
    }
}