.accBlock {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(35px) brightness(100%);
    background-color: #ffffff8f;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.10000000149011612)) 1;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    max-width: 400px;
    height: 260px;
}

.accBlockTitlePos {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
 }

.accBlockTitle {
    display: flex;
    font-family: 'SF Pro Display Bold';
    font-size: 20px;
    color: #FFFFFF;
}

.accAddButton {
    cursor: pointer;
}

.accBlockText {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: #74fbd3 transparent;
    scrollbar-width: thin;
}

.accBlockTextInfo {
    display: flex;
    justify-content: space-between;
    font-family: 'SF Pro Display Medium';
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
}

.accBalanceMoney {
    display: flex;
    align-items: center;
}