.catBlock {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(35px) brightness(100%);
    background-color: #ffffff8f;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.10000000149011612)) 1;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    max-width: 1100px;
    height: 360px;
}

.catBlockTitle {
    font-family: 'SF Pro Display Bold';
    font-size: 20px;
    color: #FFFFFF;
}

.catBlockTitlePos {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

.catBlockText {
    display: flex;
    flex-direction: column;
}

.catBlockTextInfo {
    display: flex;
    justify-content: space-between;
    font-family: 'SF Pro Display Medium';
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    &:last-child {
        margin: 0;
    }
}

.catList {
    display: flex;
    flex-wrap: wrap;
    gap: 33px 81px;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-color: #74fbd3 transparent;
    scrollbar-width: thin;
    justify-content: flex-start;
}

.catItem {
    font-family: 'SF Pro Display Medium';
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 135px;
    height: 40px;
    background: #73FBD3;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.catAddButton {
    cursor: pointer;
}

@media screen and (max-width: 900px) and (min-width: 650px) {
    .catBlock {
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(35px) brightness(100%);
        background-color: #ffffff8f;
        border-color: transparent;
        border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.10000000149011612)) 1;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
        max-width: 1100px;
        height: 270px;
    }
}

@media screen and (max-width: 900px) {
    .catList {
        display: flex;
        flex-wrap: wrap;
        gap: 33px 81px;
        overflow-y: auto;
        scrollbar-color: #73FBD3 #FFFFFF;
        max-height: 100%;
        scrollbar-width: thin;
        justify-content: center;
    }
}