/*Жирный*/
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url(./shared/fonts/SF-Pro-Display-Bold.otf);
}

/*Средний*/
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url(./shared/fonts/SF-Pro-Display-Medium.otf);
}

/*Обычный*/
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url(./shared/fonts/SF-Pro-Display-Regular.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}